@(vines: List[pojo.VineData], vineForm: Form[pojo.VineData])

@import helper._

@main("Play with vine") {
    
    <h1>@vines.size Recent Vines: </h1>
    
    <ul>
        @vines.map { vine =>
            <li>
               Login : @vine.client.get.login
               Name: @vine.label
               Description: @vine.description
                
                @form(routes.Application.deleteVine(vine.id)) {
                    <input type="submit" value="Delete">
                }
            </li>
        }
    </ul>
    
    <h2>Add a new vine</h2>
    
    @form(routes.Application.newVine) {
        
        @inputText(vineForm("label")) 
        @inputText(vineForm("description")) 
        
        <input type="submit" value="Create">
        
    }
    
}